In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy
from scipy import stats
from scipy.stats import norm

H0:Male and Female are similar across regions
H1:Male and Female are not similar across regions

In [2]:
path=r"C:\Users\hp\Desktop\EXCELR ASSIGNMENTS\Hypothesis Testing\BuyerRatio.csv"
df1=pd.read_csv(path)
df1

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
df1.East

0     50
1    435
Name: East, dtype: int64

In [4]:
from scipy.stats import chi2_contingency

In [5]:
chi2_contingency([df1.East,df1.West,df1.North,df1.South])

(1.5959455386610577,
 0.6603094907091882,
 3,
 array([[  42.76531299,  442.23468701],
        [ 146.81287862, 1518.18712138],
        [ 131.11756787, 1355.88243213],
        [  72.30424052,  747.69575948]]))

# 0.6603094907091882 > 0.05 , Accept Null Hypothesis

H0:Male and Female are similar across regions