In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy

In [2]:
from scipy import stats
from scipy.stats import norm

In [3]:
path=r"C:\Users\hp\Desktop\EXCELR ASSIGNMENTS\Hypothesis Testing\Costomer+OrderForm.csv"

In [4]:
df1=pd.read_csv(path)
df1

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [5]:
df1.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [6]:
df1.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [7]:
df1.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [8]:
df1.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [9]:
alpha=0.05

In [10]:
from scipy.stats import chi2_contingency

In [11]:
chi2_contingency([df1.Phillippines.value_counts(),df1.Indonesia.value_counts(),df1.Malta.value_counts(),df1.India.value_counts()])

(3.8589606858203545,
 0.2771020991233144,
 3,
 array([[271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25]]))

In [12]:
p_value=0.2771020991233144 > 0.05

# Accept Null Hypothesis

The defective % does not varies significantly by centres